# Database
DATABASE_URL="postgresql://postgres:password@localhost:1234/tivask_revisi3?schema=public"

# Auth
JWT_SECRET="super-secure-jwt-secret-tivask-hackathon-2026"
ADMIN_EMAIL="admin@tivask.local"
ADMIN_PASSWORD="password123"

# Gemini
GEMINI_API_KEY="your-gemini-api-key"
GEMINI_MODEL="gemini-2.0-flash"

# Server
PORT=3001
FRONTEND_URL="http://localhost:3000"
CHROME_EXECUTABLE_PATH="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
